
body{

      background: url(../images/food1.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    
}

.center h1{
   color: rosybrown;
   font-size: 50px;
   font-weight: bold;
   width:900px;
   text-align: center;
}
.center h2{
   color: rosybrown;
   font-size: 30px;
   font-weight: bold;
   width:885px;
   margin-top: 10px;
   text-align: center;
}

.center h3{
   color: rosybrown;
   font-size: 20px;
   font-weight: bold;
   width:885px;
   margin-top: 10px;
   text-align: center;
}

.button5 {
  background-color: rosybrown;
  color: black;
  border: 2px solid #555555;
}

.transparent {
    background: #151518;
    border-color: rosybrown;
    color: rosybrown;
}

.fabutton {
  background: none;
  padding: 0px;
  border: none;
  color: rosybrown;
}
