<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Custom Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
</head>

<body class="index">
    <div class="wrapper">
        <nav class="navbar">
            <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}">
        </nav>
        <div class="center" style="font-family: 'Tangerine', serif;">
            <h1>Order Placed Successfully !!</h1>
            <h1>You have been logged out. Please login again to place further orders</h1>
        </div>
    </div>
</body>

</html>